:root {
   --primaryText: #41474d;
   --modalTitle: #545454;
   --secondaryText: #fff;
   --strongBlue: #074abd;
   --blue: #1b65e3;
   --deepBlue: #0043b5;
   --softBlue: #ebefff;
   --softBlue-hover: #dfe3f3;

   --black: #000;

   --activeBlue: #314692;
   --strongGray: #888c90;
   --deepGray: #d9d9d9;
   --gray: #fafafb;
   --yellow: #f3c300;
   --purple: #8318b4;
   --red: #dd0000;
   --green: #00ba29;
   --pink: #fffada;
   --strongPink: #ffc9c8;
   --accentActive: #e7716a;
   --boxShadowInput: #0000001a;
   --boxShadowInputHover: #00000029;
   --textDefault: #1b1f3b;
   --borderInput: rgb(229, 231, 235);
   --intervalCalender: #f6f6f6;
   --hoverCalender: #dfe3f3;
   --orange: #f45725;
   --inactive: #ff8078;
   --baseGray: #ededed;
   --baseGray02: #f6f6f6;
   --baseGray03: #50596c;
   --scrollbar: #d2d2d8;
   --link: #526ed3;
   --textViewList: #526ed3;
   --pending: #fee797;
}
